{% extends "bootstrap/base.html" %}

{% block title %}{{ pageName }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
{% endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="container">
	<h1>This is the form for confessions.</h1>

    <h1>{{ pageName }}</h1>
    <em style="color:#95a5a6"> the truth will set you free </em>

	<img src="{{ cover }}"></img>

    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <textarea id="TextArea" onchange="expand();" placeholder="Confession..."></textarea>
        <br/>
        <input id="submitButton" type="submit">
    </form>
</div>
{% endblock %}
{% block scripts %}
    <script>
        function expand() {
            var element = this;
            var scrollHeight = element.scrollHeight -60; // replace 60 by the sum of padding-top and padding-bottom
            element.style.height =  scrollHeight + "px";
        }
    </script>
{% endblock %}
